html {
  overflow-x: hidden;
  text-align: left;
}

body {
  width: 500px;
}

.header {
  border-bottom: 1px solid #666;
  color: #333;
  margin-top: 10px;
}

.tabEntry {
  background-repeat: no-repeat;
  background-position: 5px 50%;
  border-radius: 2px;
  cursor: pointer;
  display: -webkit-box;
  padding: 5px;
  position: relative;
  white-space: nowrap;
  -webkit-transition: background-color 0.15s;
}

.tabEntry span {
  display: block;
  -webkit-transition: color 0.15s;
}

.tabTitle {
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 1;
  -webkit-margin-end: 5px;
  -webkit-margin-start: 21px;
}

.tabEntry:not(:hover) .tabStatus {
  display: none;
}

.tabEntry:hover {
  background-color: #69F;
}

.tabEntry:hover span {
  color: white;
}

.tabStatus {
  font-size: small;
  -webkit-transform: translate(0, 2px);
}

.message {
  color: #999;
  font-style: italic;
  margin-top: 5px;
}

.section {
  width: 100%;
}

#noClosedTabs:not(:last-of-type) {
  display: none;
}

.tabList {
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 5px;
  max-height: 200px;
}

.tabList::-webkit-scrollbar {
  width: 8px;
}

.tabList::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 2px;
  border-left: 3px solid white;
}

.tabList::-webkit-scrollbar-button {
  display: none;
}
